<div class="task-menu">

  <div>
    <form [formGroup]="findForm" (ngSubmit)="findTask()">
      <div class="findTask">
        <a routerLink="add" class="btn btn-outline">Add task</a>
        <div class="form-control">
          <input type="text" formControlName="find"
            [ngClass]="{'has-error': formControls.find.invalid && formControls.find.touched }" />
          <div class="validation" *ngIf="formControls.find.invalid && formControls.find.touched">
            <small class="validation" *ngIf="formControls.find.errors.maxlength">Max length 25 symbols</small>
          </div>
        </div>
        <div class="selectKey">
          <select (change)="selectKey($event.target.value)">
            <option value="" disabled>Choose</option>
            <option *ngFor="let key of objectKeys(task)" value={{key}}>
              {{key}}
            </option>
          </select>
        </div>
        <div>
          <button [disabled]="loading" class="btn btn-primary btn-sm" style="margin-left: 10px;">
            Find
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="task-table">
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Start date</th>
        <th>Finish date</th>
        <th>Comments</th>
        <th colspan="2">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of taskList | paginate: { itemsPerPage: 5, currentPage: p } let i = index"
        (mouseover)="getSelectedTask(task)" (click)="editTask($event, task)">
        <td>{{ i + 1 }}</td>
        <td>{{ task.name }}</td>
        <td>{{ task.startDate | fffMoment: 'DD-MM-YYYY HH:mm' }}</td>
        <td>{{ task.finishDate | fffMoment: 'DD-MM-YYYY HH:mm' }}</td>
        <td>{{ trancateString(task.comment)  }}</td>
        <td>
          <button (click)="shareTask(task._id)" [disabled]="loading" class="share-task-td btn btn-sm">
            share
          </button>
        </td>
        <td>
          <button (click)="deleteTask(task._id)" [disabled]="loading" class="delete-task-td btn btn-sm btn-danger">
            delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls class="pagination" (pageChange)="p = $event"></pagination-controls>
</div>

<div class="view-side-form">
  <router-outlet></router-outlet>
</div>