<div class="tasks">
  <a routerLink="add" class="btn btn-primary">Add task</a>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Start date</th>
        <th>Finish date</th>
        <th>Comments</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of taskList; let i = index" (mouseover)="getSelected(task)"
        (click)="edit($event, task)">
        <td>{{ i + 1 }}</td>
        <td>{{ task.name }}</td>
        <td>{{ task.startDate | date: "MMMM dd yyyy  hh:mm" }}</td>
        <td>{{ task.finishDate | date: "MMMM dd yyyy  hh:mm" }}</td>
        <td>{{ task.comment }}</td>
        <td >
          <button (click)="deleteTask(task._id)" [disabled]="loading" class="delete-task-td btn btn-sm btn-danger">
            delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="view-side-form">
  <router-outlet></router-outlet>
</div>