.login-container {
  border-radius: 10px;
  height: 300px;
  width: 250px;
  display: inline-flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: space-around;
  background-color: white;
}
