<form [formGroup]="taskForm" (ngSubmit)="shareTask()">
    <div class="sharing-container">
        <div class="form-header">{{title}}
            <app-message></app-message>
        </div>
        <div class="form-share-body">
            <div class="form-control">
                <label class="label" for="name">Enter user login to share task:</label>
                <input type="text" formControlName="login"
                    [ngClass]="{'has-error': formControls.login.invalid && formControls.login.touched }" />
                <div class="validation" *ngIf="formControls.login.invalid && formControls.login.touched">
                    <small class="validation" *ngIf="formControls.login.errors.required">login is required</small>
                    <small class="validation" *ngIf="formControls.login.errors.pattern">Required only symbols </small>
                    <small class="validation" *ngIf="formControls.login.errors.maxlength">Max length 5 symbols
                    </small>
                </div>
            </div>
        </div>
        <div class="form-footer">
            <button [disabled]="saving" class="btn btn-primary btn-sm">
                Share
            </button>
            <a class="btn btn-outline btn-sm" routerLink="/tasks">Cancel</a>
        </div>
    </div>
</form>