<div class="auth">
    <div class="auth-container">
        <div class="card">
            <header class="auth-header">
                <h1 class="auth-title">
                    <div class="logo">
                        <span class="1 11"></span>
                        <span class="1 12"></span>
                        <span class="1 13"></span>
                        <span class="1 14"></span>
                        <span class="1 15"></span>
                    </div>
                    FFF-Calendar
                </h1>
            </header>
            <div class="auth-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>