<div class="add-task">
  <div class="card">
    <form [formGroup]="taskForm" (ngSubmit)="saveTask()" class="card">
      <div class="form-header">Edit event</div>
      <div class="form-control">
        <label class="label" for="name">name:</label>
        <input type="text" formControlName="name" placeholder="selectedTask.name" [(ngModel)]="selectedTask.name"
          [ngClass]="{
              'has-error':
                formControls.name.invalid && formControls.name.touched
            }" />
        <div class="validation" *ngIf="formControls.name.invalid && formControls.name.touched">
          <small class="validation" *ngIf="formControls.name.errors.required">name is required</small>
          <small class="validation" *ngIf="formControls.name.errors.maxlength">Max length 20 symbols
          </small>
        </div>
      </div>
      <div class="form-control">
        <label class="label" for="comment">comment:</label>
        <input type="text" formControlName="comment" placeholder="comment" [ngClass]="{
              'has-error':
                formControls.comment.invalid && formControls.comment.touched
            }" />
        <div class="validation" *ngIf="formControls.comment.invalid && formControls.comment.touched">
          <small class="validation" *ngIf="formControls.comment.errors.maxlength">Max length 100 symbols
          </small>
        </div>
      </div>
      <button [disabled]="loading" class="btn btn-primary">
        Save
      </button>
      <a class="btn btn-primary" routerLink="/tasks">Cancel</a>
    </form>
  </div>
</div>